# Build and Release Folders
bin-debug/
bin-release/
bin/
release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

# Other folders and files
design/
fdt-html-template/